{% extends 'base.html' %}

{% block main %}
    <div class="d-flex justify-content-center">
        <div class="card col-4 mb-4 mt-4">
            <div class="card-body">
                <h2 class="text-center">Регистрация аккаунта</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {% include 'components/_form_errors.html' %}
                    {{ form.as_p }}
                    <button class="btn btn-dark" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div style="margin-top: 310px;"></div>
    </div>
{% endblock main %}
